.Calendar {
  --calendar-time-gutter-width: 50px;
  --calendar-month-row-min-height: 153px;

  & .rbc-day-bg:not([class*=' ']) {
    background-color: var(--surface-0);
  }

  & .rbc-month-row {
    min-height: var(--calendar-month-row-min-height);
  }
  & .rbc-off-range-bg {
    background-color: var(--shade-000);
  }
  & .rbc-show-more {
    color: var(--shade-700);
  }

  & .rbc-show-more:hover {
    color: var(--shade-800);
  }

  & .rbc-today {
    background-color: var(--teal-50);
  }

  & .rbc-event {
    background-color: var(--teal-700);
    border-radius: 0;
  }
  & .rbc-time-header-content {
    height: 100%;
  }

  & .rbc-time-slot {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  & .rbc-timeslot-group {
    display: grid;
  }

  & .rbc-time-gutter {
    width: var(--calendar-time-gutter-width);
  }

  & .rbc-label {
    padding: 0;
    color: var(--shade-700);
  }

  & .rbc-time-header-cell-single-day {
    display: block;
    height: 100%;
  }

  & .rbc-time-view .rbc-row {
    height: 100%;
  }

  & .rbc-current-time-indicator {
    background-color: var(--teal-800);
  }
}

.service-advisor-calendar-event-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
  width: 100%;
  text-align: left;
  height: 100%;
}
