@import 'primereact/resources/themes/lara-light-cyan/theme.css';
@import 'primeicons/primeicons.css';

@import '@nexus-ui/tailwind/index.css';

:root {
  font-size: 14px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
